html {
	box-sizing: border-box;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
	font-weight: 400;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 5px 0;
}

/*
	========================
	HEADER
	========================
*/
header {
	display: flex;
	background: white;
	font-size: 16px;
	width: 100%;
	position: fixed;
	border-bottom: 1px solid #e2e2e2;
	box-shadow: rgba(0,0,0,0.08) 0 0 5px 1px;
	justify-content: space-between;
	padding: 5px 100px;
}

.logo {
	height: 29px;
	align-self: center;
	cursor: pointer;
}

.header-center {
	align-self: center;
}

.subject {
	font-weight: bold;
	cursor: pointer;
}

.subject:hover {
	text-decoration: underline;
}

.header-links {
	cursor: pointer;
}

/* 
	=====================
	MAIN CONTAINER
	=====================
*/


article {
	display: grid;
	padding-top: 60px;
	grid-template-columns: repeat(6, 1fr);
}

/* 
	======================
	FIGURES / IMAGES
	======================
*/
figure {
	display: block;
	margin: 0;
	padding: 0;
}

.figure1 {
	grid-column: 2 / -2;
}

.figure2 {
	grid-column: 2 / -2;
}

.figure4 {
	grid-column: 3 / -3;
}

.fig-img {
	width: 100%;
	margin: 0;
}
.fig-caption {
	color: #666;
	font-size: 16px;
	padding-right: 30px;
}

.fig-author,
.end-paragraph {
	display: block;
	color: #888;
	font-size: 14px;
}

/* 
	=====================
	Immedaite pre-article info
	=====================
*/

.title {
	grid-column: 3 / span 2;
	font-style: italic;
	width: 80%;
	font-size: 2.5rem;
	align-self: center;
}

.article-info {
	display: flex;
	flex-direction: column;
	grid-column: 3 / -3;
}

.article-info > * {
	margin: 0;
	padding: 5px 0;
}

.author {
	font-weight: bold;
	font-size: 16px;
}

.author span {
	cursor: pointer;
	text-decoration: underline;
}

.author span:hover {
	text-decoration: none;
}
.date-links {
	display: flex;
	color: #333;
	font-size: 14px;
	justify-content: space-between;
	padding: 0;
}

.date-links img {
	height: 30px;
}
.date-links li {
	text-decoration: none;
	list-style: none;
	align-self: center;
}

/* 
	=================
	article paragraphs
	=================
*/
.paragraph {
	grid-column: 3 / -3;
	font-size: 1.5rem;
	padding: 0 10px;
}

.paragraph-title {
	font-weight: bold;
}

.end-paragraph {
	font-size: 12px;
}

/* bottom of article */
.article-bottom-box {
	grid-column: 3 / span 2;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.article-bottom-box img {
	cursor: pointer;
}
.read-comments {
	background-color: rgb(86, 123, 149);
	border: 1px solid rgb(50, 104, 145);
	border-radius: 3px;
	color: white;
	font-weight: bold;
	width: 50%;
	padding: 0 20px;
	cursor: pointer;
}

/* 
	=======================
	FIGURE 2 - Inflation Theory
	=======================
*/
.figure2 {

	display: grid;
	gap: 10px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 100px repeat(4, 1fr);
}

.inflation-img {
	grid-row: 2 / 6;
	grid-column: 1 /5 ;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.inflation-top {
	display: flex;
	flex-direction: column;
	grid-row: 1 / span 1;
	grid-column: 1 / -1;
}

.inflation-top p {
	font-size: 14px;
	color: grey;
	margin-top: 0;
}
.top-text1,
.bottom-text1 {
	grid-column: 1 / span 1;
}

.top-text2,
.bottom-text2 {
	grid-column: 2 / span 1;
}

.top-text3,
.bottom-text3 {
	grid-column: 3 / span 1;
}

.top-text4,
.bottom-text4 {
	grid-column: 4 / span 1;
}

.top-text1,
.top-text2, 
.top-text3,
.top-text4 {
	grid-row: 3 / span 1;
}

.bottom-text1,
.bottom-text2,
.bottom-text3,
.bottom-text4 {
	grid-row: 5 / span 1;
}

.figure2 .fig-author {
	grid-row: -1;
}

/*
	================
	article video
	================
*/
.figure3 {
	grid-column: 3 / 5;
}
.video-player {
	position: relative;
	padding-top: 56%;
}

.video-player iframe {
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%;
	height: 100%;
}

/*
	=================
	misc. promotion
	=================
*/

/* sign up side box */
.sign-up-wrapper {
	grid-column: 5 / span 1;
	grid-row: 5 / span 1;
	display: grid;
}

.sign-up-box {
	place-self: end center;
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 70%;
}

.sign-up-box > * {
	margin: 5px;
}
.sign-up {
	font-weight: bold;
}
.sign-up-info {
	color: rgb(102, 102, 102);
	font-size: 0.9rem;
}
.sign-up-btn {
	background-color: rgb(86, 123, 149);
	border: 1px solid rgb(86, 123, 149);
	height: 40px;
	border-radius: 5px;
	color: white;
	font-weight: bolder;
	cursor: pointer;
}

/* editor's picks side box */
.editor-picks-wrapper {
	grid-column: 5 / span 1;
	grid-row: 9 / span 2;
	display: grid;
	justify-items: center;
	margin-bottom: 0;
	padding-bottom: 0;
}

.editor-picks-box {
	width: 70%;
	place-self: center / center;
}
.pick {
	display: flex;
	height: 80px;
	padding-bottom: 10px;

}
.pick img {
	width: 75px;
	padding-right: 10px;
	cursor: pointer;
}

.pick span {
	cursor: pointer;
}

.pick span:hover {
	text-decoration: underline;
}

/* 
	==========================
	Bottom Content
	==========================
*/

.bottom-content {
	margin-top: 20px;
	display: grid;
	gap: 20px;
	background: white;
	grid-template-columns: repeat(6, 1fr);
	grid-template-areas:
		"... more    more    more    popular ..."
		"... picks   picks   picks   popular ..."
		"... footer  footer  footer  footer  ..."
}

.bottom-title {
	font-weight: 700;
	font-size: 16px;
	padding: 20px 0;
}

/* more articles section */
.more-articles {
	border-top: 1px solid black;
	grid-area: more;
	background: white;
	display: grid;
	gap: 10px;
	align-content: start;
	grid-template-columns: repeat(3, 1fr);
}

.more-articles .bottom-title  {
	grid-column: 1 / -1;
	padding: 20px 0;
}

.more-fig {
	background: white;
	display: flex;
	flex-direction: column;
}

.more-fig img {
	width: 100%;
	cursor: pointer;
}

.more-credit {
	font-size: 10px;
	color: rgb(153, 153, 153);
	align-self: flex-end;
	text-align: right;
	cursor: pointer;
}

.more-caption {
	font-size: 18px;
	color: rgb(18, 18, 18);
	cursor: pointer;
}

.more-date {
	font-size: 12px;
	color: rgb(153, 153, 153);
}


/* popular section */
.popular {
	border-top: 1px solid black;
	grid-area: popular;
	background: white;
	display: flex;
	flex-direction: column;
}

.popular-title {
	border-top: 1px solid rgb(182, 182, 182);
	padding: 15px 0;
	cursor: pointer;
	font-size: 19px;
	font-weight: 500;
	line-height: 23px;
}

/* Editors' picks bottom section */
.btm-picks {
	grid-area: picks;
	background: white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-content: start;
	border-top: 1px solid grey;
	gap: 10px;
}

.btm-picks .bottom-title {
	grid-column: 1 / -1;
}

/*
	=================
	Mega footer
	=================
*/

.footer {
	grid-area: footer;
	height: 100px;
	border-top: 5px double lightgrey;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(6, 1fr);
}

/* top footer section */
.top-footer {
	grid-area: 1 / 1 / span 1 / -1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-footer > * {
	cursor: pointer
}

/* mid footer large section */
.mid-footer {
	grid-area: 2 / 1 / span 1 / -1;
	background: #fff;
	display: grid;
	padding: 5px 0;
	gap: 10px;
	grid-template-columns: repeat(6, 1fr);	
	border-bottom: 1px solid lightgrey;
}
.mid-footer h3 {
	font-size: 14px;
	font-weight: 700;

}
.mid-footer ul {
	padding: 0;
}
.mid-footer li {
	list-style: none;
	font-size: 14px;
	line-height: 16px;
	height: 23px;
	cursor: pointer;
}

.mid-footer li:hover {
	text-decoration: underline;
}
.extra-list2 {
	border-bottom: 1px solid lightgrey;
}
.foot-extra {
	border-left: 1px solid lightgrey;
	padding-left: 10px;
}

/* bottom footer section */
.bottom-footer {
	grid-area: 3 / 1 / span 1 / -1;
	display: flex;
	justify-content: center;
	align-content: center;
	padding-bottom: 10px;
}

.bottom-footer ul {
	padding: 0;
	margin: 0;
}
.bottom-footer li {
	display: inline;
	font-size: 10px;
	color: grey;
	padding: 0 10px;
	cursor: pointer;
}